@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

$main-background:linear-gradient(0deg, rgba(154,128,112,1) 0%, rgba(153,88,42,1) 100%);
$font-stack:'Lato', sans-serif;
$font-primary-color:rgb(41, 40, 40);
$font-secondary-color:rgba(128, 128, 128, 0.445);
$font-color-global:#c722308a;
$font-color-round:rgb(194, 157, 157);
$primary-color:rgb(216, 205, 205);
$secondary-color:#fff;
$current-color:rgb(199, 34, 48);

body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background:$main-background;
    font-family: $font-stack;  

}

#newGame,
#rollDice,
#hold{
    position: absolute;
    width: 20vw;
    height: 50px;
    left: 48.5%;
    transform: translateX(-55%);
    font-size: 15px;
    // font-family:'Lato', sans-serif;
    color:$font-primary-color;
    text-align: center;
    z-index: 10;
    cursor: pointer;

    & p:hover{
        font-weight: bold;

    }
}

#newGame{
    top:10vh;
}
#rollDice{
    top:65vh; 
}
#hold{
    top: 75vh;
}
svg{
    margin-right: 0.5vw;
}
#dice{ 
    position: absolute; 
    height: 100px;
    width: 100px;
    top: 40vh;
    left:48%;
    transform: translateX(-50%);
    z-index: 20;
}
#diceImg{
    height: 100px;
    width: 100px;
}

#left,
#right{
    position: absolute;
    top: 5vh;
    height: 90vh;
    width: 50%;
    text-align: center;
    background: $secondary-color;
}

#left{
    left:2vw ;    
}

#right{
    right:2vw;      
}

#right.active,
#left.active{
    background: $primary-color;   
}

.player{
    position: relative;
    top:25vh;
    font-size: 1.9rem;
    font-weight:100;
    color: $font-secondary-color;

&.active{
    color:$font-primary-color;
}
}

.player1Select,
.player2Select{
    position: relative;
    top:22vh;
    left:63%;
    background-color: $current-color;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    z-index: 50;
    visibility: hidden;
}

.global{
    position: absolute;
    left:43%;
    top:35vh;
    height: 100px;
    width: 100px;
    text-align: center;
}

.scoreG{
        position: relative;
        top:30%;
        font-size: 3rem;
        font-weight: 100;
        color: $font-color-global;
    }


.round{
    position: relative;
    top:60vh;
    height: 10vh;
    width: 8vw;
    background: $current-color;
    left: 50%;
    transform: translateX(-50%);
}

.scoreR{
        position: absolute;
        top:35%;
        left: 40%;
        color: $font-color-round;
        font-size: 1.3rem;
        font-weight: 400;
    }

    // ******* RESPONSIVE ********

    $min-tablet:768px;
    $max-tablet:1024px;
    $max-tablet-landscape:900px;
    $min-smartphone:321px;
    $max-smartphone:767.9px;
    $max-smartphone-landscape:485px;
    $mobile:320px;
  
// tablet 
    @media screen and (min-width:$min-tablet) and (max-width:$max-tablet) {
        .player1Select,
        .player2Select{
            left:70%;
            top:23vh;
        }
        .round{
            height: 8vh;
            width: 15vw;
        }   
    }

// tablet landscape
    @media screen and  (min-width:$max-tablet) and (max-height:$max-tablet-landscape) {
        .round{
            height:12vh;
            width: 13vw;
            
        } 
    }

// smartphone
    @media screen and (min-width:$min-smartphone) and (max-width:$max-smartphone)  {
        .player1Select,
        .player2Select{
            left:50%;
            top:25vh;
        }
        .global{
            left: 25%;
        }
        .scoreG{
            top: 60%;
            
        }
        .round{
           
            height: 10vh;
            width: 15vh;
            
        }
        #newGame,
        #rollDice,
        #hold{
            width: 40vw;
        }
        #rollDice{
            top: 52vh;
        }
        #hold{
            top: 60vh;
        }
        #dice{
            width: 70px;
            height: 70px;
        }
        #diceImg{
            height: 70px;
            width: 70px;
    }
}

// smartphone landscape
    @media screen and (min-height:$min-smartphone) and (max-height:$max-smartphone-landscape)   {
        .player1Select,
        .player2Select{ 
            top: 10vh;
            left: 75%;
            
        }
        .player{
            top: 15vh;
        }
        .global{
            top: 25%;
        }
        .round{
            width: 13vw;
            height: 15%;
            top:60%
        }

        #dice{
            top: 35vh;
            width: 60px;
            height: 60px;
        }
        #diceImg{
            width: 60px;
            height: 60px;

        }
        #rollDice{
            top: 62vh;
        }
        #hold{
            top: 70vh;
        }
    
}
// mobile
    @media screen and (max-width:$mobile) {
        .player{
            top:20vh;
            font-size: 1.5rem;
        }
        .player1Select,
        .player2Select{
            left:50%;
            top:21vh;
        }
        .global{
            left: 25%;
        }
        .scoreG{
            top: 60%;
            font-size: 1.7rem;
            
        }
        .round{
            height: 10vh;
            width: 25vw;
            top:67vh;
        }
        .round p{
            font-size: 0.9rem
        }
        #newGame,
        #rollDice,
        #hold{
            width: 40vw;
        }
        #dice{
            width: 50px;
            height: 50px;
        }
        #diceImg{
            height: 50px;
            width: 50px;
    }
    
    }
// mobile landscape

@media screen and (max-height:$mobile) {
    .player{
        top:20vh;
        font-size: 1.5rem;
    }
    .player1Select,
    .player2Select{
        left:67%;
        top:13vh;
    }
    .global{
        top: 25vh;
        left: 25%;
    }
    .scoreG{
        top: 40%;
        font-size: 1.7rem;
        
    }
    .round{
        height: 15vh;
        width: 13vw;
        top:57vh;
    }
    .round p{
        font-size: 0.9rem
    }
    #newGame,
    #rollDice,
    #hold{
        width: 40vw;
    }
    #dice{
        width: 50px;
        height: 50px;
    }
    #diceImg{
        height: 50px;
        width: 50px;
}
#rollDice{
    top: 63vh;
}
#hold{
    top: 75vh;
}


    
}
