@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a8070), to(#99582a));
  background: linear-gradient(0deg, #9a8070 0%, #99582a 100%);
  font-family: "Lato", sans-serif;
}

#newGame,
#rollDice,
#hold {
  position: absolute;
  width: 20vw;
  height: 50px;
  left: 48.5%;
  -webkit-transform: translateX(-55%);
          transform: translateX(-55%);
  font-size: 15px;
  color: #292828;
  text-align: center;
  z-index: 10;
  cursor: pointer;
}

#newGame p:hover,
#rollDice p:hover,
#hold p:hover {
  font-weight: bold;
}

#newGame {
  top: 10vh;
}

#rollDice {
  top: 65vh;
}

#hold {
  top: 75vh;
}

svg {
  margin-right: 0.5vw;
}

#dice {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 40vh;
  left: 48%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
}

#diceImg {
  height: 100px;
  width: 100px;
}

#left,
#right {
  position: absolute;
  top: 5vh;
  height: 90vh;
  width: 50%;
  text-align: center;
  background: #fff;
}

#left {
  left: 2vw;
}

#right {
  right: 2vw;
}

#right.active,
#left.active {
  background: #d8cdcd;
}

.player {
  position: relative;
  top: 25vh;
  font-size: 1.9rem;
  font-weight: 100;
  color: rgba(128, 128, 128, 0.445);
}

.player.active {
  color: #292828;
}

.player1Select,
.player2Select {
  position: relative;
  top: 22vh;
  left: 63%;
  background-color: #c72230;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  z-index: 50;
  visibility: hidden;
}

.global {
  position: absolute;
  left: 43%;
  top: 35vh;
  height: 100px;
  width: 100px;
  text-align: center;
}

.scoreG {
  position: relative;
  top: 30%;
  font-size: 3rem;
  font-weight: 100;
  color: #c722308a;
}

.round {
  position: relative;
  top: 60vh;
  height: 10vh;
  width: 8vw;
  background: #c72230;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.scoreR {
  position: absolute;
  top: 35%;
  left: 40%;
  color: #c29d9d;
  font-size: 1.3rem;
  font-weight: 400;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .player1Select,
  .player2Select {
    left: 70%;
    top: 23vh;
  }
  .round {
    height: 8vh;
    width: 15vw;
  }
}

@media screen and (min-width: 1024px) and (max-height: 900px) {
  .round {
    height: 12vh;
    width: 13vw;
  }
}

@media screen and (min-width: 321px) and (max-width: 767.9px) {
  .player1Select,
  .player2Select {
    left: 50%;
    top: 25vh;
  }
  .global {
    left: 25%;
  }
  .scoreG {
    top: 60%;
  }
  .round {
    height: 10vh;
    width: 15vh;
  }
  #newGame,
  #rollDice,
  #hold {
    width: 40vw;
  }
  #rollDice {
    top: 52vh;
  }
  #hold {
    top: 60vh;
  }
  #dice {
    width: 70px;
    height: 70px;
  }
  #diceImg {
    height: 70px;
    width: 70px;
  }
}

@media screen and (min-height: 321px) and (max-height: 485px) {
  .player1Select,
  .player2Select {
    top: 10vh;
    left: 75%;
  }
  .player {
    top: 15vh;
  }
  .global {
    top: 25%;
  }
  .round {
    width: 13vw;
    height: 15%;
    top: 60%;
  }
  #dice {
    top: 35vh;
    width: 60px;
    height: 60px;
  }
  #diceImg {
    width: 60px;
    height: 60px;
  }
  #rollDice {
    top: 62vh;
  }
  #hold {
    top: 70vh;
  }
}

@media screen and (max-width: 320px) {
  .player {
    top: 20vh;
    font-size: 1.5rem;
  }
  .player1Select,
  .player2Select {
    left: 50%;
    top: 21vh;
  }
  .global {
    left: 25%;
  }
  .scoreG {
    top: 60%;
    font-size: 1.7rem;
  }
  .round {
    height: 10vh;
    width: 25vw;
    top: 67vh;
  }
  .round p {
    font-size: 0.9rem;
  }
  #newGame,
  #rollDice,
  #hold {
    width: 40vw;
  }
  #dice {
    width: 50px;
    height: 50px;
  }
  #diceImg {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-height: 320px) {
  .player {
    top: 20vh;
    font-size: 1.5rem;
  }
  .player1Select,
  .player2Select {
    left: 67%;
    top: 13vh;
  }
  .global {
    top: 25vh;
    left: 25%;
  }
  .scoreG {
    top: 40%;
    font-size: 1.7rem;
  }
  .round {
    height: 15vh;
    width: 13vw;
    top: 57vh;
  }
  .round p {
    font-size: 0.9rem;
  }
  #newGame,
  #rollDice,
  #hold {
    width: 40vw;
  }
  #dice {
    width: 50px;
    height: 50px;
  }
  #diceImg {
    height: 50px;
    width: 50px;
  }
  #rollDice {
    top: 63vh;
  }
  #hold {
    top: 75vh;
  }
}
/*# sourceMappingURL=main.css.map */