@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    height: 100vh;
    background:linear-gradient(0deg, rgba(154,128,112,1) 0%, rgba(153,88,42,1) 100%);
    font-family: 'lato', sans-serif;
}

#newGame,
#rollDice,
#hold{
    position: absolute;
    width: 20vw;
    height: 50px;
    left: 48.5%;
    transform: translateX(-55%);
    font-size: 15px;
    font-family:'Lato', sans-serif;
    color:rgb(41, 40, 40);
    text-align: center;
    z-index: 10;
    cursor: pointer;
}

#newGame{
    top:10vh;
}
#rollDice{
    top:65vh; 
}
#hold{
    top: 75vh;
}
svg{
    margin-right: 0.5vw;
}
#diceImg{
    height: 100px;
    width: 100px;
}
#dice{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 40vh;
    left: 45%;
    z-index: 20;
}
.global{
    position: absolute;
    left:43%;
    top:35vh;
    height: 100px;
    width: 100px;
    text-align: center;
}
.scoreG{
    position: relative;
    top:30%;
    font-size: 3rem;
    font-weight: 100;
    color: #c722308a;
}
.scoreR{
    position: absolute;
    top:35%;
    left: 40%;
    color: rgb(194, 157, 157);
    font-size: 1.3rem;
    font-weight: 400;
}

#left,
#right{
    position: absolute;
    top: 5vh;
    height: 90vh;
    width: 50%;
    text-align: center;
    background: #fff;
}

#left{
    left:2vw ;    
}

#right{
    right:2vw;      
}

#right.active,
#left.active{
    background: rgb(216, 205, 205);   
}

.player{
    position: relative;
    top:25vh;
    font-size: 1.9rem;
    font-weight:100;
    color: rgba(128, 128, 128, 0.445) ;
}

.player.active{
    color: rgb(39, 38, 38);

}
.player1Select,
.player2Select{
    position: relative;
    top:22vh;
    left:63%;
    background-color: #c72230;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    z-index: 50;
    visibility: hidden;

}

.round{
    position: relative;
    top:60vh;
    height: 10vh;
    width: 8vw;
    background: #c72230;
    left: 50%;
    transform: translateX(-50%);
}

